[submodule "sub/sonic-pi"]
	path = sub/sonic-pi
	url = https://github.com/sonic-pi-net/sonic-pi.git
[submodule "sub/animation_nodes"]
	path = sub/animation_nodes
	url = https://github.com/JacquesLucke/animation_nodes.git
